
@{
    ViewBag.Title = "getVals";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<h2>getVals</h2>
<div id="1">
    <p>1</p>
</div>
<div id="2">
    <p>2</p>
</div>
<div id="3">
    <p>3</p>
</div>
<script>
    $(document).ready(function () {


        function sendRequest() {
            $.ajax({
                type: "GET",
                url: "http://localhost:56871//api/menuitems/getmenuitems/1",
                contentType: "application/json; charset=utf-8",
                dataType: "json",


                success: function (data) {

                    var json = $.parseJSON(data);

                    console.log(json);


                },
                complete: function () {
                    // Schedule the next request when the current one's complete
                    setTimeout(sendRequest, 1000);
                },
                error: function (e) {

                    console.log(JSON.stringify(e));
                }
            });
        }
        sendRequest();
    });
</script>